.control-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  background: var(--neutral-400);
}

@media (max-width: 640px) {
  .control-bar {
    display: flex;
  }
}
