.track-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.img {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
}

.img > img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.text {
  display: grid;
  margin-left: 1rem;
}

.text > h2 {
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 600;
}

.text span {
  font-size: 14px;
  color: var(--neutral-100);
}

.text > h2,
.text > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
