.volume-controler {
  display: flex;
  align-items: center;
  justify-self: end;
}

.volume-controler > input {
  width: 8rem;
  margin-left: 1rem;
}

@media (max-width: 640px) {
  .volume-controler {
    display: none;
  }
}
