html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background: var(--neutral-500);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  background: var(--neutral-300);
  transition: 0.1s ease-in-out;
}

.btn:hover {
  background: var(--neutral-200);
}
